# Redshift Configuration
REDSHIFT_CLUSTER=
REDSHIFT_ENDPOINT=
REDSHIFT_PORT=
REDSHIFT_DB=
REDSHIFT_USER=
REDSHIFT_PASSWORD=
REDSHIFT_ROLE_ARN=

# S3 Configuration
S3_BUCKET_NAME=

# Data Source Configuration
DATA_SOURCE_TYPE=s3
DATA_DIR=data

# AWS Configuration
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Alerting Configuration
SNS_TOPIC_ARN=
